{% extends 'layout.html.twig' %}

{% block content %}

    <div class="albert-aregall text-center">
        <div class="portfolio__project-back-wrapper">
            <a class="portfolio__project-back" href="{{ path('portfolio') }}">
                <div class="d-inline-flex"><i class="fas fa-chevron-left"></i></div>
                {{ 'portfolio.project.back' | trans | upper }}
            </a>
        </div>
        <h1 class="pb-4 pb-lg-5">ALBERT AREGALL ARQUITECTURA</h1>
        <div class="container">
            <div class="col-12">
                <div class="albert-aregall__description text-left pb-5">
                    <h5 class="font-weight-lighter pb-3">{{ 'portfolio.project.about' | trans | upper }}</h5>
                    <div class="albert-aregall__content pb-3">
                        {{ 'portfolio.project.albert-aregall.description' | trans | raw }}
                    </div>
                    <h5 class="font-weight-lighter pt-3 pb-3">{{ 'portfolio.project.details' | trans | upper }}</h5>
                    <div>{{ 'portfolio.project.albert-aregall.development' | trans }}</div>
                    <div>{{ 'portfolio.project.albert-aregall.date' | trans | upper }}</div>
                    <div class="albert-aregall__url">
                        <a href="http://aregall.com/" target="_blank">WWW.AREGALL.COM</a>
                    </div>
                </div>
                <div class="albert-aregall__project pt-3">
                    <img class="albert-aregall__image" src="{{ asset('build/images/albert-aregall/albertaregall1.png') }}">
                    <img class="albert-aregall__image" src="{{ asset('build/images/albert-aregall/albertaregall2.png') }}">
                    <img class="albert-aregall__image" src="{{ asset('build/images/albert-aregall/albertaregall3.png') }}">
                    <img class="albert-aregall__image" src="{{ asset('build/images/albert-aregall/albertaregall4.png') }}">
                    <img class="albert-aregall__image" src="{{ asset('build/images/albert-aregall/albertaregall5.png') }}">
                    <img class="albert-aregall__image" src="{{ asset('build/images/albert-aregall/albertaregall6.png') }}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}