{% extends 'layout.html.twig' %}

{% block content %}

    <div class="experience text-center">
        <div class="pb-3 pb-lg-5"><h1>EXPERIENCE</h1></div>
        <div class="col-12">
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                <div class="col-12">
                    <a href="#dgtlsmodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                        <img class="experience__image" src="{{ asset('build/images/dgtls.jpeg') }}">
                    </a>
                </div>
                <div class="d-none d-lg-inline col-lg-4 position-relative">
                    <div class="experience__image-lg-div">
                        <img class="experience__image" src="{{ asset('build/images/dgtls.jpeg') }}">
                        <div class="mt-2">
                            <span class="experience__time">From March 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-inline">
                    <div class="pt-3 experience__description">
                        Nowadays I'm working on this german international digital agency as a <b>Full-stack Web Developer</b><br><br>
                        I work on the creation of web pages for clients using Pimcore which is an open source Symfony-based CMS.
                        Some of my tasks are the development of new features, the maintenance of existing code and its refactorization when needed
                        in the different projects I'm involved into.<br><br>
                        <b>Technologies</b><br>
                        PHP and SQL (backend)<br>
                        HTML, TWIG, CSS, jQuery and JavaScript (frontend).
                    </div>
                </div>
                <div class="modal fade" id="dgtlsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">DGTLS Spain</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span class="experience__time">From March 2019</span>
                                <div class="pt-3 experience__description">
                                    Nowadays I'm working on this german international digital agency as a <b>Full-stack Web Developer</b><br><br>
                                    I work on the creation of web pages for clients using Pimcore which is an open source Symfony-based CMS.
                                    Some of my tasks are the development of new features, the maintenance of existing code and its refactorization when needed
                                    in the different projects I'm involved into.<br><br>
                                    <b>Technologies</b><br>
                                    PHP and SQL (backend)<br>
                                    HTML, TWIG, CSS, jQuery and JavaScript (frontend).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                <div class="col-12">
                    <a href="#gedmodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                        <img class="experience__image" src="{{ asset('build/images/ged.png') }}">
                    </a>
                </div>
                <div class="d-none d-lg-inline col-lg-4 position-relative">
                    <div class="experience__image-lg-div">
                        <img class="experience__image" src="{{ asset('build/images/ged.png') }}">
                        <div class="mt-2">
                            <span class="experience__time">From March 2018<br>To March 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-inline">
                    <div class="mt-3 experience__description">
                        I worked for one year on this automotive-based company as a <b>Backend Web Developer</b><br><br>
                        I took part on the creation of web applications for clients and for internal purposes using the Symfony framework.
                        I was involved in the development of new features and the maintenance of the existing code
                        for the multiple existing projects of the company.<br><br>
                        <b>Technologies</b><br>
                        PHP and SQL (backend)<br>
                        TWIG, jQuery and JavaScript (frontend).<br><br>
                        <b>Methodologies</b><br>
                        Scrum (agile)
                    </div>
                </div>
                <div class="modal fade" id="gedmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Grup Eina Digital SL</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span class="experience__time">From March 2018 to March 2019</span>
                                <div class="pt-3 experience__description">
                                    I worked for one year on this automotive-based company as a <b>Backend Web Developer</b><br><br>
                                    I took part on the creation of web applications for clients and for internal purposes using the Symfony framework.
                                    I was involved in the development of new features and the maintenance of the existing code
                                    for the multiple existing projects of the company.<br><br>
                                    <b>Technologies</b><br>
                                    PHP and SQL (backend)<br>
                                    HTML, TWIG, CSS, jQuery and JavaScript (frontend).<br><br>
                                    <b>Methodologies</b><br>
                                    Scrum (agile)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                <div class="col-12">
                    <a href="#bebopmodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                        <img class="experience__image" src="{{ asset('build/images/bebop.png') }}">
                    </a>
                </div>
                <div class="d-none d-lg-inline col-lg-4 position-relative">
                    <div class="experience__image-lg-div">
                        <img class="experience__image" src="{{ asset('build/images/bebop.png') }}">
                        <div class="mt-2">
                            <span class="experience__time">From September 2017<br>To March 2018</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-inline">
                    <div class="pt-3 experience__description">
                        I worked on this Barcelona-based digital agency as a <b>Backend Web Developer</b><br><br>
                        I was involved in several projects focus in the creation of web pages for clients using Drupal
                        which is an open source CMS.<br><br>
                        <b>Technologies</b><br>
                        PHP and SQL (backend)
                    </div>
                </div>
                <div class="modal fade" id="bebopmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Bebop 2.0 SL</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span class="experience__time">From September 2017 to March 2018</span>
                                <div class="pt-3 experience__description">
                                    I worked on this Barcelona-based digital agency as a <b>Backend Web Developer</b><br><br>
                                    I was involved in several projects focus in the creation of web pages for clients using Drupal
                                    which is an open source CMS.<br><br>
                                    <b>Technologies</b><br>
                                    PHP and SQL (backend)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                    <div class="col-12">
                        <a href="#opendrakomodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                            <img class="experience__image" src="{{ asset('build/images/opendrako.png') }}">
                        </a>
                    </div>
                    <div class="d-none d-lg-inline col-lg-4 position-relative">
                        <div class="experience__image-lg-div">
                            <img class="experience__image" src="{{ asset('build/images/opendrako.png') }}">
                            <div class="mt-2">
                                <span class="experience__time">From January 2016<br>To March 2016</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-inline">
                        <div class="pt-3 experience__description">
                            I worked as an intern in this education-based company while I was studying my Computer Science Degree as a <b>Backend Web Developer</b><br><br>
                            I created a web application for internal management and I was involved on
                            the development of new features and code maintenance of its main product,
                            a web application with educational purposes, using the Symfony framework.<br><br>
                            <b>Technologies</b><br>
                            PHP and SQL (backend)<br>
                            HTML, TWIG and CSS (frontend).
                        </div>
                    </div>
                    <div class="modal fade" id="opendrakomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">OpenDrako Corporation SL</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <span class="experience__time">From January 2016 to March 2016</span>
                                    <div class="pt-3 experience__description">
                                        I worked as an intern in this education-based company while I was studying my Computer Science Degree as a <b>Backend Web Developer</b><br><br>
                                        I created a web application for internal management and I was involved on
                                        the development of new features and code maintenance of its main product,
                                        a web application with educational purposes, using the Symfony framework.<br><br>
                                        <b>Technologies</b><br>
                                        PHP and SQL (backend)<br>
                                        HTML, TWIG and CSS (frontend).
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}