{% extends 'layout.html.twig' %}

{% block content %}

    <div class="experience text-center">
        <div class="pb-3 pb-lg-5"><h1>{{ 'experience.title' | trans | upper }}</h1></div>
        <div class="col-12">
            <div class="d-lg-none"><small><i>{{ 'experience.more-detail' | trans }}</i></small></div>
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                <div class="col-12">
                    <a href="#dgtlsmodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                        <img class="experience__image" src="{{ asset('build/images/dgtls.jpeg') }}">
                    </a>
                </div>
                <div class="d-none d-lg-inline col-lg-4 position-relative">
                    <div class="experience__image-lg-div">
                        <img class="experience__image" src="{{ asset('build/images/dgtls.jpeg') }}">
                        <div class="mt-2">
                            <span class="experience__time">{{ 'experience.dgtls.date' | trans }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-inline">
                    <div class="pt-3 experience__description">
                        {{ 'experience.dgtls.position' | trans | raw }}<br><br>
                        {{ 'experience.dgtls.description' | trans | raw }}<br><br>
                        {{ 'experience.dgtls.technologies' | trans | raw }}
                    </div>
                </div>
                <div class="modal fade" id="dgtlsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">DGTLS Spain</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span class="experience__time">{{ 'experience.dgtls.date' | trans }}</span>
                                <div class="pt-3 experience__description">
                                    {{ 'experience.dgtls.position' | trans | raw }}<br><br>
                                    {{ 'experience.dgtls.description' | trans | raw }}<br><br>
                                    {{ 'experience.dgtls.technologies' | trans | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                <div class="col-12">
                    <a href="#gedmodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                        <img class="experience__image" src="{{ asset('build/images/ged.png') }}">
                    </a>
                </div>
                <div class="d-none d-lg-inline col-lg-4 position-relative">
                    <div class="experience__image-lg-div">
                        <img class="experience__image" src="{{ asset('build/images/ged.png') }}">
                        <div class="mt-2">
                            <span class="experience__time">{{ 'experience.grup-eina.date-from' | trans }}<br>{{ 'experience.grup-eina.date-to' | trans | capitalize }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-inline">
                    <div class="mt-3 experience__description">
                        {{ 'experience.grup-eina.position' | trans | raw }}<br><br>
                        {{ 'experience.grup-eina.description' | trans | raw }}<br><br>
                        {{ 'experience.grup-eina.technologies' | trans | raw }}<br><br>
                        {{ 'experience.grup-eina.methodologies' | trans | raw }}
                    </div>
                </div>
                <div class="modal fade" id="gedmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Grup Eina Digital SL</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span class="experience__time">{{ 'experience.grup-eina.date-from' | trans }} {{ 'experience.grup-eina.date-to' | trans }}</span>
                                <div class="pt-3 experience__description">
                                    {{ 'experience.grup-eina.position' | trans | raw }}<br><br>
                                    {{ 'experience.grup-eina.description' | trans | raw }}<br><br>
                                    {{ 'experience.grup-eina.technologies' | trans | raw }}<br><br>
                                    {{ 'experience.grup-eina.methodologies' | trans | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                <div class="col-12">
                    <a href="#bebopmodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                        <img class="experience__image" src="{{ asset('build/images/bebop.png') }}">
                    </a>
                </div>
                <div class="d-none d-lg-inline col-lg-4 position-relative">
                    <div class="experience__image-lg-div">
                        <img class="experience__image" src="{{ asset('build/images/bebop.png') }}">
                        <div class="mt-2">
                            <span class="experience__time">{{ 'experience.bebop.date-from' | trans }}<br>{{ 'experience.bebop.date-to' | trans | capitalize }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-inline">
                    <div class="pt-3 experience__description">
                        {{ 'experience.bebop.position' | trans | raw }}<br><br>
                        {{ 'experience.bebop.description' | trans | raw }}<br><br>
                        {{ 'experience.bebop.technologies' | trans | raw }}
                    </div>
                </div>
                <div class="modal fade" id="bebopmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Bebop 2.0 SL</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span class="experience__time">{{ 'experience.bebop.date-from' | trans }} {{ 'experience.bebop.date-to' | trans }}</span>
                                <div class="pt-3 experience__description">
                                    {{ 'experience.bebop.position' | trans | raw }}<br><br>
                                    {{ 'experience.bebop.description' | trans | raw }}<br><br>
                                    {{ 'experience.bebop.technologies' | trans | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pt-lg-5 pb-lg-5 experience__line">
                    <div class="col-12">
                        <a href="#opendrakomodal" class="d-lg-none experience__modal-link" data-toggle="modal">
                            <img class="experience__image" src="{{ asset('build/images/opendrako.png') }}">
                        </a>
                    </div>
                    <div class="d-none d-lg-inline col-lg-4 position-relative">
                        <div class="experience__image-lg-div">
                            <img class="experience__image" src="{{ asset('build/images/opendrako.png') }}">
                            <div class="mt-2">
                                <span class="experience__time">{{ 'experience.opendrako.date-from' | trans }}<br>{{ 'experience.opendrako.date-to' | trans | capitalize }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-inline">
                        <div class="pt-3 experience__description">
                            {{ 'experience.opendrako.position' | trans | raw }}<br><br>
                            {{ 'experience.opendrako.description' | trans | raw }}<br><br>
                            {{ 'experience.opendrako.technologies' | trans | raw }}
                        </div>
                    </div>
                    <div class="modal fade" id="opendrakomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">OpenDrako Corporation SL</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <span class="experience__time">{{ 'experience.opendrako.date-from' | trans }} {{ 'experience.opendrako.date-to' | trans }}</span>
                                    <div class="pt-3 experience__description">
                                        {{ 'experience.opendrako.position' | trans | raw }}<br><br>
                                        {{ 'experience.opendrako.description' | trans | raw }}<br><br>
                                        {{ 'experience.opendrako.technologies' | trans | raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}