{% block header %}

    <header>
        <nav id="sidebar">

            <ul class="list-unstyled components">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('portfolio') }}">Portfolio</a></li>
                <li><a href="{{ path('experience') }}">Experience</a></li>
            </ul>
        </nav>

        <div class="navbar-menu">
            <div class="col-12">
                <div class="row">
                    <div class="col-9 pl-0 pr-0 align-middle header-col-left{{ app.request.attributes.get('_route') is same as('home') ? ' home' : '' }}">
                        <h1>Oriol Tomàs Fortuny</h1>
                    </div>
                    {% if (app.request.attributes.get('_route') != 'home') %}
                        <div class="col-3 pl-0 pr-0 align-middle header-col-right">
                            <ul class="list-unstyled flex right-menu">
                                <li><a href="{{ path('home') }}">Home</a></li>
                                <li><a href="{{ path('portfolio') }}">Portfolio</a></li>
                                <li><a href="{{ path('experience') }}">Experience</a></li>
                            </ul>
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

{% endblock %}