{% block header %}

    <header>
        <nav id="sidebar">

            <ul class="list-unstyled components">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('symfony') }}">Portfolio</a></li>
                <li><a href="{{ path('symfony') }}">Experience</a></li>
            </ul>
        </nav>

        <table class="navbar-menu">
            <tbody>
            <tr>
                <td class="align-middle">
                    <h1>Oriol Tomàs Fortuny</h1>
                </td>
                {% if (app.request.attributes.get('_route') != 'home') %}
                    <td class="align-middle">
                        <ul class="list-unstyled flex right-menu">
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li><a href="{{ path('symfony') }}">Portfolio</a></li>
                            <li><a href="{{ path('symfony') }}">Experience</a></li>
                        </ul>
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </header>

{% endblock %}