{% extends 'layout.html.twig' %}

{% block content %}

    <div class="home__img">

        <div class="home__center-img">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12 home__center-img__headline">
                        <div class="d-none d-md-block">{{ 'home.web-developer' | trans | upper }}</div>
                        <div class="d-block d-md-none">
                            {{ 'home.mobile.web-developer.first' | trans | upper }}<br>
                            {{ 'home.mobile.web-developer.second' | trans | upper }}</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <button class="home__center-img__button" onclick="location.href='{{ path('portfolio') }}'">
                            {{ 'portfolio.title' | trans | upper }}
                        </button>
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="home__center-img__button" onclick="location.href='{{ path('experience') }}'">
                            {{ 'experience.title' | trans | upper }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#about-me">
            <div class="home__bottom-img text-center">
                <div class="home__bottom-img__img"></div>
                <img class="home__bottom-img__icon" src="https://img.icons8.com/ios-glyphs/30/ffffff/chevron-down.png">
            </div>
        </a>

    </div>

    <div id="about-me" class="home__about-me">
        <div class="text-center container">
            <h1>{{ 'about-me.title' | trans | upper }}</h1>
            <div class="pt-3">
                {{ 'about-me.description' | trans | raw }}
            </div>
        </div>
    </div>

{% endblock %}