{% extends 'layout.html.twig' %}

{% block content %}

    <div class="josep-mateu text-center">
        <h1 class="pb-4 pb-lg-5">JOSEP MATEU</h1>
        <div class="container">
            <div class="col-12">
                <div class="josep-mateu__description text-left pb-5">
                    <h5 class="font-weight-lighter pb-3">{{ 'portfolio.project.about' | trans | upper }}</h5>
                    <div class="josep-mateu__content pb-3">
                        {{ 'portfolio.project.josep-mateu.description' | trans | raw }}
                    </div>
                    <h5 class="font-weight-lighter pt-3 pb-3">{{ 'portfolio.project.details' | trans | upper }}</h5>
                    <div>{{ 'portfolio.project.josep-mateu.development' | trans }}</div>
                    <div>{{ 'portfolio.project.josep-mateu.date' | trans | upper }}</div>
                    <div class="josep-mateu__url">
                        <a href="http://josepmateu.cat/" target="_blank">WWW.JOSEPMATEU.CAT</a>
                    </div>
                </div>
                <div class="josep-mateu__project pt-3">
                    <img class="josep-mateu__image" src="{{ asset('build/images/josep-mateu/josepmateu1.png') }}">
                    <img class="josep-mateu__image" src="{{ asset('build/images/josep-mateu/josepmateu2.png') }}">
                    <img class="josep-mateu__image" src="{{ asset('build/images/josep-mateu/josepmateu3.png') }}">
                    <img class="josep-mateu__image" src="{{ asset('build/images/josep-mateu/josepmateu4.png') }}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}