{% extends 'layout.html.twig' %}

{% block content %}

    <div class="portfolio text-center">
        <h1 class="pb-3 pb-lg-5">{{ 'portfolio.title' | trans | upper }}</h1>
        <div class="col-12">
            <div class="row pt-5 pt-lg-5 pb-lg-5">
                <div class="col-12 offset-lg-1 col-lg-5">
                    <div class="pb-5">
                        <b>{{ 'portfolio.web-projects' | trans | upper }}</b>
                    </div>
                    <div class="pb-5">
                        <a class="portfolio__project-link" href="{{ path('albert-aregall') }}">
                            <img class="portfolio__image" src="{{ asset('build/images/aregall_teaser.png') }}">
                        </a>
                        <div class="pt-2"><small><i>Albert Aregall Arquitectura</i></small></div>
                    </div>
                    <div class="pb-5">
                        <a class="portfolio__project-link" href="{{ path('josep-mateu') }}">
                            <img class="portfolio__image" src="{{ asset('build/images/josepmateu_teaser.png') }}">
                        </a>
                        <div class="pt-2"><small><i>Josep Mateu</i></small></div>
                    </div>
                    <div class="">
                        <a class="portfolio__project-link" href="{{ path('vincle-studio') }}">
                            <img class="portfolio__image" src="{{ asset('build/images/vinclestudio_teaser.png') }}">
                        </a>
                        <div class="pt-2"><small><i>Vincle Studio</i></small></div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 pb-5">
                    <div class="pt-5 pt-lg-0 pb-5">
                        <b>{{ 'portfolio.ios.title' | trans }}</b>
                    </div>
                    <div class="">
                        <div><small><i>{{ 'portfolio.ios.development' | trans }}</i></small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}